body {
    background-color: #2a46a0;
    font-family: 'Oswald', sans-serif;
}
a :active,
a :hover,
a {
    color: #ffffff !important;
    text-decoration:none;
  }

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

.menu {
    flex-grow: 1;
  }
.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

.menu li {
    margin-right: 20px;
  }
.menu li:last-child {
    margin-right: 0;
  }
.menu a {
    padding: 8px 10px;
  }

.logo {
    height: 100px;
    margin-right: 100px;
  }

.menu-2 ul {
    display: flex;
    list-style: none;
}
.menu-2 li {
    margin-right: 20px;
  }

.menu-2-img {
    height: 30px;
}

.li-text {
    font-size: 25px;
}
