{% load static %}
{%include 'main/layout.html' %}




{%block content%}
<head>
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
</head>
<div class="about_container">
    <h2>На этой странице будет написано о нашей команде</h2>
    <div class="about">
        <ul>
            <li class="li-link"><a class="a-link" href="/url1">ссылка на вконтаккте</a></li>
            <li class="li-link"><a class="a-link" href="https:\\www.miit.ru">Официальный сайт РУТ(МИИТ)</a></li>
            <li class="li-link"><a class="a-link" href="/url3">ссылка куда-нибудь №3</a></li>
        </ul>
    </div>
</div>

{%endblock%}