{% load static %}
{% include 'main/layout.html' %}



{%block content%}


<contair class="index_container">
    
        <h2>Страница каталога</h2>
        <table>
            <tr>
                <td><img class="li_img" src="{% static 'main/img/catalog/Tshirt.png' %}" width="300" height="300" alt="tshirt"></td>
                <td><img class="li_img" src="{% static 'main/img/catalog/socks.png' %}" width="300" height="300" alt="socks"></td>
            </tr>
            <tr>
                <td><img class="li_img" src="{% static 'main/img/catalog/Notebook.png' %}" width="300" height="300" alt="tshirt"></td>
                <td><img class="li_img" src="{% static 'main/img/catalog/Sticker Mockup.png' %}" width="300" height="300" alt="socks"></td>

            </tr>
        </table>
</contair>



{%endblock%}